# Saltos de linea siempre en formato Linux (LF), aunque se trabaje desde Windows
* text=auto eol=lf

# Binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.xls binary
*.xlsx binary
*.docx binary
*.msg binary
*.mp3 binary
*.wav binary
*.woff binary
*.woff2 binary
